package components

templ Navbar() {
	<nav class="container flex justify-between py-4 md:py-6">
		<div class="flex items-start gap-4">
			<a href="/" class="inline-flex items-start gap-2">
				<span class="bg-gradient-to-tr from-blue-600 to-teal-600 bg-clip-text text-xl font-bold text-transparent dark:from-blue-400 dark:to-teal-300">
					Minidrive
				</span>
			</a>
		</div>
		<div class="flex items-start gap-4"></div>
	</nav>
}
